* Default settings */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /*  (10/16 *100) = 62.5  */
    font-size: 62.5%;
}

body {
    font-family: "lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
    box-sizing: border-box;
}

/* typography */

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: .5rem 1rem;
    display: inline-block;
    /* border-radius: 10rem; */
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}

.btn-white {
    color: #fff;
    border: .2rem solid #fff;
    border-radius: 3px;
}
.btn-white:hover{
    color: #fff;
    border: .2rem solid #fff;
}

.main-menu ul { 
    width: 100%;
}
@media (min-width:786px) and (max-width: 996px){
#menu-icon {

    right: 8rem;
}
}
main {
    position: absolute;
    top: 8rem;
    left: 0;
    width: 100%;
    height: auto;
}

/* banner */
.banner {
    clear: both;
    display: block;
    /* height: 85vh; */
    position: relative;
}
.banner .container-fluid{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.banner-img {
    height: 95vh !important;
}
.carousel-caption {
    left: 0 !important;
    top: 60% !important;
    transform: translateY(-50%) !important;
    width: 65%;
    background-image: linear-gradient(to right, rgba(42, 37, 109, 0.8), rgba(42, 37, 109, 0.1));

}
/* 
.banner-img{
    height: auto;
    width: 100%;
}*/
.banner__text-box {
    /* padding-left: 15rem;
    padding-bottom: 2rem; */
}
@media screen and (max-width: 768px) {
    .carousel-caption  {
        width: 100% !important;
        padding-left: 0;
        text-align: center;
    }
}
.banner__text-primary {
    display: block;
    font-size: 4rem;
    font-weight: 800;
    color: rgb(255, 149, 76);
}
.banner__text-sub {
    line-height: 1.5;
    display: block;
    font-size: 2.5rem;
    font-weight: 300;
    color: #fff;
    margin-bottom: 1rem;
} 
.highlight {
    font-weight: 800;
}
.banner__link:link,
.banner__link:active,
.banner__link {
    position: absolute;
    bottom: 5rem;
    right: 3rem;
    color: #fff !important;
    font-size: 2.5rem;
}
@media screen and (max-width: 768px) {
    .banner__text-primary {
        display: block;
        font-size: 2.5rem;
        font-weight: 800;
        color: rgb(255, 149, 76);
    }
    .banner__text-sub {
        line-height: 1.5;
        display: block;
        font-size: 1.8rem;
        font-weight: 300;
        color: #fff;
        margin-bottom: 1rem;
    }
    .banner__link:link,
    .banner__link:active,
    .banner__link {
    position: absolute;
    bottom: 5rem;
    right: 3rem;
    color: #fff !important;
    font-size: 2rem;
} 
}
/*sidebar*/
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.panel {
   box-shadow: 0 1px 2px rgba(0,0,0,.05);
   border: 1px solid transparent;
}
.collapse.in {
    display: block;
}
#sidenav .panel-body li {
    transition: all 0.25s ease;
    background-color: #F7F7F7;
    border-right: none;
    border-left: none;
}
#sidenav li {
    /* background-color: #EEE; */
    border-top-width: 0;
    border-bottom: 1px solid #C9C9C9;
    position: relative;
}
.nav>li {
    /* position: relative; */
    display: block;
}
#sidenav .panel-body a {
    border: 0;
    color: #555;
}
#sidenav a {
    display: block;
    padding: 5px 20px;
}
a {
     background-color: transparent; 
     text-decoration: none;
}
.nav > li > a{
    font-size: 1.6rem;
}

#sidenav .panel-body a{
    font-size: 1.6rem;
}
.glyphicon{
    position: absolute;
    right:2px;
   
}

/*article*/
article .title {
    text-transform: uppercase;
    font-weight: 300;
    color:rgb(42, 37, 109);
}
article > p, article > ul, article > ol {
    font-size: 1.4rem;
    line-height: 1.3;
}
p {
    color: rgb(42,37,109);
    margin: 1.5rem 0;
}
h3{
    color:rgb(66,71,93);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
}
/* About section menu */
.active {
    background: rgb(0, 0, 0);
    width: 100%;
    /* height: 100%; */
    font-size: 20px;
    /* backface-visibility: hidden; */
}
.glyphicon {
    position: unset;
    padding-right: 5px;
}
.home-link {
    padding: 10px 0;
    display: none;
}

.collapse-menu {
    color: #06829d;
    background-color: #ddd !important;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
}
.collapse-menu span i{
    font-size: 20px;
}

@media screen and (max-width:959px) {
    .home-link {
        display: block;
    }
}

.active a{
    color: #fff;
    
}
.about-menu-box {
    padding-left: 0;
    padding-right: 0;
}
.about-heading{
    padding-left: 30px;
}
.about-menu {
    background-color: #f7f7f7;
}
.about-menu ul {
    padding:0;
    margin: 0;
}
.about-menu ul li {
    list-style: none;
    border-bottom: 1px solid #C9C9C9;
    padding: 5px 10px;
    border-left: 10px solid transparent;
    transition: all 0.8s ease;

}
.about-menu ul li:hover {
    border-left: 10px solid rgb(0, 0, 0);
}
.about-menu ul li a,
.about-menu ul li a:link,
.about-menu ul li a:visited {
    text-decoration: none;
    font-size: 14px;
    line-height: 1.48;
}
.about-menu ul li a:hover{
    color: rgb(0, 0, 0);
}
.about-main-menu {
    display: flex;
    justify-content: space-between;
}
.sub-menu {
    background-color: #F1F1F1;
    box-shadow: inset 0 8px 6px -6px rgba(51,51,51,0.3);
}
.expand-icon{
    width: 30px;
    color: #555;
    font-size: 14px;

    font-size: 20px;
    cursor: pointer;
    text-align: center;
}
.image-box {
    position: relative;
    margin-top: 20px;
    width: 100%;
    height:200px;
    border: 3px solid rgb(211, 149, 40) !important;
    display: none;
}
.image-box a img {
    width: 100%;
    height: 100%;;
}
.image-box--text {
    position: absolute;
    top: 20px;
    right: 5px;
    width: 60%;
    background-color: rgba(27, 31, 84, .7);
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    padding: 10px 20px;
}
@media screen and (max-width:959px) {

}
@media screen and (min-width:992px) {
    .image-box {
        display: block;
    }
    .collapse-menu{
        display: none;
    }        
}
/* footer */

.footer {
    width: 100%;
}
.footer-head {
    width: 100%;
    background-color: rgb(20, 45, 86);
}
.footer-head-row{
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.footer-college-logo {
    display: flex;
    justify-content: flex-start;
}
.footer-logo-box {
    padding: 6rem 0;
    text-align: left;
    width: 100%;
}

.footer-logo {
    height: 6rem;

}
.University-address {
    padding: 4rem;
    font-size: 1.3rem;
}
.address {
    color: #fff;
}
.strong {
    font-size: 1.8rem;
    color: rgb(200, 153, 35);
}
.email {
    color: rgb(200, 153, 35);
}
.footer-link {
    color: #fff;
}
.footer__links {
    width: 100%;
    color: #fff;
    background-color: rgb(202, 154, 44);
}
.footer-navigation__item {
    display: inline;
    padding: 2rem 1rem;
}
@media screen and (max-width: 768px) {
    .footer-navigation__item {
        display: block;
        padding: .5rem 1rem;
    }
    .footer-logo-box {
        text-align: center;

    }
    }
.footer-nav {
    padding: .8rem;
}
.footer-link {
    /* display: inline-block; */
    font-weight: 300;
    padding: 2rem .5rem;
    color: #fff !important;
    text-decoration: none;
    font-size: 1.4rem;
    border: 1px solid transparent;
}
.footer__sub {
    width: 100%;
    background-color: rgb(20, 45, 86);
    padding: 1rem 1rem;
}
.footersub-link {
    display: inline;
    padding: 0 1rem;
    color: #fff;
}
.footersub-link:not(:last-child) {
    border-right: 1px solid #fff;
    line-height: 1.5;
}
@media screen and (max-width: 768px) {
    .footer-navigation__item {
        display: block;
        padding: .5rem 1rem;
    }
    .footersub-link {
        display: block;
    }
    .footersub-link:not(:last-child) {
        border-right: none;
        line-height: 1.5;
    }
}
.Copyright {
    color: #fff;
    font-size: 1rem;
}
.social-icons {
    display: flex;
    justify-content: flex-end;
}
.social-icon {
    font-size: 48px;
    padding: 6rem 1rem;
}
@media screen and (max-width: 992px) {
    .footer-logo-box {
        padding: 2rem 1rem;
    }
    .University-address {
        padding: 2rem 1rem;
        ;
    }
    .social-icon {
        padding: 2rem 1rem;
    }
}
@media screen and (max-width: 768px) {
    .apply-now-textbox {
        text-align: center;
    }
    .apply-now-btn-box {
        text-align: center;
    }
    .social-icon {
        padding: 2rem 1rem;
    }
    h3 {
        font-size: 2rem;
        font-weight: 700;
    }
}
.banner .container {
    background-image: url('../img/college1.jpeg');
    background-size: cover;
    background-position: top;
    height: 70vh
}

.root {
    position: absolute;
    top: -50px;
    width: 100%;
}
 @media only screen and (min-width: 992px){
#breadcrumbs_holder {
    margin-top: -49px;
}
}
#tools {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    min-height: 50px;
    line-height: 50px;
}
.breadcrumb {
    font-size: 1.15em;
    margin: 0;
    padding: 0 15px;
    border-radius: 0;
    display: inline-block;
    zoom: 1;
    background-color: transparent;
}
#tools .list-inline {
    margin: 0;
    padding-right: 5%;
}
#tools>.list-inline>li {
    /* background: url(/file_source/qu/global/images/global_images/toolbar-sep.png) no-repeat right; */
    padding-right: 9px;
}
#tools .list-inline li {
    vertical-align: middle;
}
#tools button {
    vertical-align: middle;
    background-color: transparent;
    padding: 0;
    border: 0;
    border-radius: 0;
}
img {
    max-width: 100%;
    height: auto;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
#share_popover {
    display: none;
}

@media (max-width:996px){
    .root {
        display: none;
    }
}
img {
    -webkit-print-color-adjust: exact;
}
@media print {
    .logo-box {
        display: none;
    }
    .article {
        display: block;
    }
    .menu-container {
        display: none;
    }
    .banner {
        /* display: block; */
    }
    .about-menu-box {
        display: none;
    }
    .footer{
        display: none;
    }
}
/* .share_box{
    position: relative;
}
.share-link-box{
    position: absolute;
    top: 100%;
    display: block;
    width: 200px;
    background-color: rgba(51, 121, 183, 0.685);
}
.share-link-box ul{
    list-style: none;
}
.share-link-box li{
    display: block;
    padding: .5rem 1rem;
}
.share-link-box a{ 
    display: block;
    text-align: left;
    color: #fff;
    text-decoration: none;
} */
