*,
*::after,
*::before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;

}
ul {
    margin: 0;
    padding: 0;
}
html{
	font-size: 62.5%;  /*1rem=10px, 10/16=62.5%*/
	box-sizing: inherit;
	-webkit-box-sizing:inherit ;
  	-moz-box-sizing: inherit;

}

p{
    margin: 0;
    padding: 0; 
}
h4{
    font-size: 16px!important;
}
.header{
   background: #aaa;
    background-size: cover;

}
.navigation{
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.logo {

    margin-left: 2rem;
    margin-top: 2rem;
    display: block;
}
.logo-img{
    height: 4rem;
    /* float: left; */
    align-self: flex-start;
    padding-bottom: 1rem;
}
/* Navigation */
.nav {
    display: flex;
    align-items: center;
    height: 100%;
    float: right;
    /* padding-left: 5rem; */
}

.nav .home{
    width: 100%;
    border-bottom: 2px solid rgb(199, 0, 57);
    padding: 0 16px;
}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav ul li {
    float: left;
}

.nav ul li a {
    font-size: 1.2rem;
    display: block;
    text-align: center;
    padding: 0 16px;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    color: rgb(102, 102, 102);
    font-weight: 600;
}

.nav ul li a:hover {
    width: 100%;
    border-bottom: 2px solid rgb(199, 0, 57);
    padding: 0 16px;
}
@media screen and (max-width: 1200px) {
    .logo {
        margin-left: 1rem;
        margin-top: 1rem;
    }
    .logo-img {
        height: 3rem;
        float: left!important;
    }


    
   
}

@media screen  and (max-width:950px) {
    .nav ul li a {
        font-size: 1.3rem;
    }
}

/* Notification contact us, signup, Post ad */
.user-nav{
    display: flex;

}
.user-nav > * {
    padding: 0 1rem;
    cursor: pointer;
    height:100%;
    display:flex;
    align-items: center;
}
.user-nav__icon{
    height: 2rem;
    width: 2rem;
    margin-right:1rem;
  }
.user-nav__user-text{
    font-size: 1.2rem;
    color: rgb(199, 0, 57);
}
@media screen and (max-width: 1200px) {
    /* .user-nav{
    display: flex;
    justify-content: space-between;
}
     */
}
@media screen and (max-width: 900px) {
    
    
    .user-nav__user-text{
        display:none;
    }
    
    .user-nav__icon{
        display: none;
    }
    .user-nav__icon1{
        display: flex;
        width: 2rem;
        height: 2rem;
    }
    
    .user-nav > * {
            padding: 0 .4rem;
    }
}


@media screen and (max-width: 600px) {
    .header{
        background-image: url(./images/HeaderVectorRentlet.png);
        background-size: cover;
    }
    .nav {
        display:none;
    }
    .user-nav__user-text{
        display:none;
    }
    
    .user-nav__icon{
        display: none;
    }
    .user-nav__icon1{
        display: flex;
        width: 2.5rem;
        height: 2.5rem;
    }
    
    .user-nav > * {
            padding: 0 .4rem;
    }
}


/************banner**************/
.banner{
    background-image: url(./images/aboutus.png);
    background-size: cover;
    height: 92vh;
    width:100%;
    background-position: top;
}
.banner-textbox{
    width:85%;
    padding:1rem 4rem ;
}
h1{
    color:#aaa;
    
}
 p{
     color: #fff;
     padding-top: 3rem;
     font-size: 2rem;
 }
 @media screen and (max-width: 600px) {
   
    .banner-textbox{
        width:100%;
    }
    p{
        
        padding-top: 2.5rem;
        font-size: 1.8rem;
    }
 }
 @media screen and (max-width: 350px) {
    .banner-textbox{
        width:100%;
    }
    p{
        
        padding-top: 1.6rem;
        font-size: 1.5rem;
    }
 }