*,
*::after,
*::before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;

}
ul {
    margin: 0;
    padding: 0;
}
html,body{
	font-size: 62.5%;  /*1rem=10px, 10/16=62.5%*/
	box-sizing: inherit;
	-webkit-box-sizing:inherit ;
  	-moz-box-sizing: inherit;

}
p{
    margin: 0;
    padding: 0; 
}

.navigation{
    display: flex;
    justify-content: space-between;
} 
.logo{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-left: 1rem;
    /* margin-top: .8rem; */
}
.logo-img{
    height: 2.5rem;
    /* float: left; */
    align-self: flex-start;
}

.nav{
    margin-left: .5rem;
    height: 100%;
    padding-left: .6rem;
   
}
.nav-mobile{
    display:none;
}
.search{
    
    padding: .5rem;
    border-radius: 5px;
    display: flex;
    flex-wrap: nowrap;
    width: 70%;
}
.search-input{
    font-family: inherit;
    font-size: 1rem; 
    background-color:#fff;
    border:rgb(179, 179, 179);
    /* padding:.2rem; */
    /* width: 100%; */
    /* height: 3rem; */
    margin-right: .5rem;
    border-radius: 3px;
    color:#fff;
 }
 .search-input::-webkit-input-placeholder{
   font-weight: 100;
   font-size: 1.2rem;
   padding: .3rem;
   color:rgb(128, 128, 128);
 }


.search-type{
    /* height: 3rem; */
    width: 12rem;
    font-size: 1.2rem;
    border-radius: 3px;
    margin-right: .5rem;
}
.search-button{
    width: 50%;
    background-color: rgb(199, 0, 57);
    border:none;
    display: flex;
    text-align: center;
    padding:.7rem 1rem;
    color: #fff;
    border-radius: 5px;
    font-size: 1rem;
}
.user-nav{
    display: flex;

}
.user-nav > * {
    padding: .6rem;
    cursor: pointer;
    height:100%;
    display:flex;
    align-items: center;
}
.user-nav__icon{
    height: 2rem;
    width: 2rem;
    margin-right:.8rem;
  }
.user-nav__user-text{
    font-size: 1rem;
    color: rgb(199, 0, 57);
}
@media screen and (max-width: 900px) {
    .user-nav__icon{
        display: none;
    }
    .user-nav__icon1{
        display: flex;
        width: 2rem;
        height: 2rem;
    }
    .user-nav__user-text{
        display:none;
    }
    
    .user-nav > * {
            padding: 0 .2rem;
    }
}
@media screen and (max-width: 600px) {
    .nav{
        display:none;
    }
    .nav-mobile{
        display:block;
        margin-left: .5rem;
        height: 100%;
        padding-left: .6rem;
        padding-top:1rem;
        padding-bottom: .8rem;
    }
    .search-input{
        font-family: inherit;
        font-size: 1.2rem; 
        /* padding:.2rem; */
        margin-right: .5rem;
        border-radius: 3px;
        color:#fff;
     }

    .search-input::-webkit-input-placeholder{
        font-weight: 100;
        font-size: 1.2rem;
        /* padding: .4rem; */
        color:rgb(128, 128, 128);
      }
      .search-type{
        /* height: 3rem; */
        width: 12rem;
        font-size: 1.1rem;
        border-radius: 3px;
        margin-right: .5rem;
        padding: .4rem .4rem;
    }
    .logo{
        margin-left: 1rem;
        margin-top:.5rem;
        
    }
    .user-nav{
        display: flex;
        justify-content: space-evenly;
    
    }
    .logo-img{
        height: 2.8rem;
    }
    .search{
    
        padding: .6rem;
        border-radius: 5px;
        display: flex;
        flex-wrap: nowrap;
        width: 50%;
    }
    .search-button{
        width: 50%;
        padding:.6rem 1.6rem;
        color: #fff;
        border-radius: 5px;
        font-size: 1.1rem;
    }
    
  
}

.header{
    border-bottom: 1px solid #aaa;
    background-image: linear-gradient(to right,
                rgba(242,242,242,.8),
                rgba(229,168,162,.8));
}
.short{
    display: flex;
    height: 5rem;
    margin-bottom: 2rem;
    /* margin:rem 2rem;  */
   
}
.home{
    margin:1rem 3rem 1rem 1rem;
    font-size: 1rem;
    
}
.home-para{
    color: rgb(199, 0, 57);
    
}

.dropdowns{
    font-size:1.2rem;
    padding: 1.2rem;
    background-image: linear-gradient(to right,
                    rgba(242,242,242,.8),
                    rgba(229,168,162,.8));
 
}
.dropdowns-mobile{
    display: none;
}
.dropdowns span{
    color: rgb(199, 0, 57);
}
.services{
    border-radius: 3px;
}
.search-btn{
    border-radius: 3px;
  
}
.btn1{
    background-color: rgb(199, 0, 57);
    border: none;
    padding: .3rem;
    color: #fff;
}
.btn2{
    background-color:rgb(88, 24, 69);
    color: #fff;
    border: none;
    padding: .3rem;
}
@media screen and (max-width: 960px) {
    .home{
      display: none;  
    }
    .home-para{
      display: none;
        
    }
    
    .btn1{
        padding: .6rem .8rem;
    }
    .btn2{
        padding: .6rem .8rem;
    }
    .dropdowns {
        width: 100%;
        display: flex;
        justify-content: space-between; 
    }
    .dropdowns span{
        font-size: 1.3rem;
    }
}

.row {
    margin: 0 !important;
}
.properties{
    height: 500px;
   
    overflow-y: scroll;
    /* padding: 2rem; */
}
.properties .row {
    /* width: 95% !important; */
    margin: 0 auto;
    border-bottom: 1px solid rgb(128, 128, 128);
    box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, 0.2rem);
    
}
.property-row{
    margin-bottom: 1rem!important;
    padding-bottom: .5rem;
    border-bottom: 1px solid rgb(128, 128, 128);
}
.views{
    font-size: 1rem;
    padding: .2rem .6rem;

}
    

@media screen and (max-width: 600px) {
    .header{
        border-bottom:none;
    }
    .property-row{
        margin-bottom:0!important;

        /* padding-bottom: .5rem; */
        border-bottom: none;
    }
    .hidemap{
        display:none;
    }
    
    .short{
        display:none;
        
    }
    .views{
        font-size: 1.2rem;
        padding: .6rem ;
        margin-top:.5rem;
    
    }
    .grid-view{
        display:none;
    }
    .dropdowns-mobile{
        display:block;
        padding: 0;
       
    }
    
    .dropdown-mobile{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 1.3rem;
       
    }
    .services1{
        width:100%;
        margin:0 auto;
        font-size: 1.3rem;
        margin:.2rem .5rem;
        border: 1px solid #eee;
        padding: .4rem;
    }
   
    .sort-filter{
        background-image: linear-gradient(to right,
        rgba(242,242,242,.8),
        rgba(229,168,162,.8));
        border-bottom: 1px solid gray;
        display: flex;
        padding: 1.5rem 0;
        justify-content: space-around;
    }
    .other-services{
        display: flex;
        flex-direction: column;
        width:100%;
        padding: 1.2rem;
        background: rgb(242,242,242);
        
    }
   
    .search-btn{
        width:45%;
        
    }
    .buttons{
        text-align: center;
        background: rgb(242,242,242);
        padding-bottom:1rem;
    }
}
.quickview{
    color: rgb(199, 0, 57);
}
.map{
    height: 500px;
    background: rgb(230, 230, 230);
}

.favourite{
    height: 500px;
    
}
.prop{
    height: 10rem;
    background-color: rgb(242,242,242);
    margin: 2px 0 !important;
    padding: 0 !important;
}
.prop-mobile{
    display: none;
}
.propimg{
    margin: 0;
    padding: 4px;
    height: 100%;
}
.prop-img-row{
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
}
.propimg img {
    width:100%;
    height: 100%;
    background-size: cover;
    background-position: center;

}
.prop-text{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    padding-top: .7rem;
}
.view{
    color:rgb(199, 0, 57);
}
.view-img{
    widows: 1rem;
    height: 1rem;
}

.prop-btn1{
    border-radius: 3px;
    padding:.3rem 1rem;
    border:none;
    background-color: rgb(199, 0, 57);
    color: #fff;
}
.prop-btn2{
    color: #fff;
    padding:.3rem .8rem;
    border:none;
    border-radius: 3px;
    background-color: rgb(88, 24, 69);
}
.inr{
    width:1.4rem;
    height: 1.4rem;
}
.accessories{
    width:1.4rem;
    height: 1.4rem;
}


.map{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.map-mobile{
    display:none;
}

.fav{
    height: 250px;
    background-color: rgb(242,242,242);
    margin: 2px 0 !important;
    padding: 0 !important; 
}
.fav p{
    font-size: 1.2rem;
    background-color: rgb(88, 24, 69);
    color: #fff;
    padding: .5rem;
}
@media screen and (max-width: 600px) {
    .map{
        display: none;
        background: rgb(230, 230, 230);
        
    }
    .map-mobile{
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        height: 200px;
        background: rgb(230, 230, 230);
       
       
    }
    .favourite{
        display: none;
    }
    
    
}
.prop-text-test{
    display:flex;
    
}

.price-test1{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width:100%;
    font-size: 1rem;
    margin:1rem .2rem;

    
}
.price-test1 >*{
padding-bottom: .6rem;
}

.price-test2{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width:100%;
    font-size: 1rem;
    
    
}

.price-test3{
    display:flex;
    flex-direction: column;
    justify-content: space-around; 
    width:100%;
    font-size: 1.1rem;
    margin:1rem .2rem;
}